html {
    background-color: rgb(147, 239, 255);
}
.content {
    display: flex;
    justify-content: center;
}
.calc {
    border: 2px blueviolet solid;
    padding: 1rem;
    border-radius: 10%;
}
.form-field {
    margin-bottom: .5rem;
    font-size: 2rem;
}
input, select {
    font-size: 2rem;
}
#btn {
    background-color: rgb(0, 76, 255);
    border-radius: 50px;
    border-color: black;
    font-size: 1.5rem;
    cursor: pointer;
    color:white;
    height: 40px;
}
#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h1 {
    text-align: center;
}